@charset "utf-8";
body{
    font-family: 'Spoqa Han Sans';
    font-size:18px
    }


    html,body{height: 100%;}
    html {scroll-behavior: smooth;}
    *{margin: 0;padding: 0;box-sizing: border-box;}
    li{list-style: none;}
    a:link,a:visited{text-decoration: none;color:var(--p1-color)}


    h2{font-size:100px;}
    h4{font-size:22px;line-height: 32px;}


    .page1{background-image: url(../img/sec01_bg.png);}
    .page2{background-image: url(../img/sec02_bg.png);}
    .page3{background-image: url(../img/sec03_bg.png);}

    .fp-viewing-m1st .navbar{display:none}

    /* bic logo  */
    .logo_b{
        position: absolute;left: 50%;top: 50%;width: 1430px;height: 421px;
        margin-left: calc( -1430px / 2 );margin-top: calc( -421px / 2 );
        transition:0.3s;z-index: 9999;
    }
    .logo_b img{width: 100%;}
    .logo_b.after{position: fixed;width:78px;left:58px;top:35px;margin: initial;}



    /* navbar s */
    .navbar{display: flex;padding: 35px 58px;position: fixed;width: 100%;z-index: 99999;}
    .navbar h1.logo a{display: block;
        width:78px;height: 23px;background:url(../img/logo.png);
        background-position: 0 -23px;text-indent: -9999px;
    }
    .navbar .gnb{margin-left: auto;}
    .navbar .gnb ul{display: flex;height: 100%;transform:translateY(-80px);transition:0.3s}
    .navbar .gnb ul.view{transform:translateY(0)}
    .navbar .gnb ul li{height: 100%;}
    .navbar .gnb ul a{padding: 0 20px;height: 100%;display: flex;justify-content: center;align-items: center;font-weight: bold;}
    .navbar .gnb ul li:last-child a{padding-right: 0;}
    .navbar .point{position: relative;}
    .navbar .point:after{
        content:"";display: block;width: 8px;height: 8px;border-radius: 50%;background: #ff2c2c;
        position: absolute;right: 10px;top: -3px;
    }

    .navbar.white h1 a{background-position: 0 0 !important;}
    .navbar.white .gnb a{color:white !important}


    .fp-viewing-m2st .navbar{display:flex}

/* scene #3 */
    .fp-viewing-m3st .logo_b{display:none}

    .back03 .txt1{opacity: 0;transition:0.5s;transform:translateX(-100%);}
    .back03 .txt2{opacity: 0;transition:0.5s}
    .back03 .txt3{opacity: 0;transition:0.5s;transform:translateX(100%)}

    .back03 .txt1.view{opacity: 1;transform:translateX(0)}
    .back03 .txt2.view{opacity: 1;}
    .back03 .txt3.view{opacity: 1;transform:translateX(0)}
    
    /* .back03.tAdd01 .txt1{transform:translate(100%,0)}
    .back03.tAdd01 .txt2{transform:translate(-100%,0);opacity: 0;}
    .back03.tAdd01 .txt3{transform:translate(100%,0);opacity: 0;}

    .back03.tAdd01.tAdd02 .txt1{transform:translate(100%,100px)} */

    .scene{
        width: 100%;height: 100vh;
        position: fixed;left: 0;
        
    }
    .scene.back03{
        /* display: none; */
        opacity: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0;
        
        
        /* background: skyblue; */
        background-image: url(../img/sec03_bg.png);
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
        transition:0.3s;
        z-index: 9999;
    }

    .scene.back03.fade{
        opacity: 0 !important;
    }


    /* #4 back04 */
    .scene.back04 .text-view01{
        position: absolute;
        left:50%;top: 35%;transform:translateY(-80px);font-size: 62px;transition: 0.3s;opacity: 0;}
    .scene.back04 .text-view01.view01Move{transform:translateY(0);opacity: 1;transition-delay: 0.5s;}
    .scene.back04 .viewTxtWrap{
        left: 50%;top:50%;position: absolute;
        transform:translateY(100px);transition:0.5s;opacity:0
    }
    .scene.back04 .viewTxtWrap.txtMove{transform:translateY(0);opacity:1;transition-delay: 1s;}
   
    .scene.back04 .product1{
        left: 50%;top: 50%;margin-top: -400px;margin-left: -550px;
        transform-origin: 100%;opacity: 0;transition: 0.5s;transform:translateX(-130px)}
    .scene.back04 .product1.p1view{transform:translateX(0);opacity: 1;transition-delay:1.5s;}   
    
    
    /* #4 back05 */
    .scene.back05 .text-view01{
        position: absolute;
        left:50%;top: 35%;transform:translateY(-80px);font-size: 62px;transition: 0.3s;opacity: 0;}
    .scene.back05 .text-view01.view01Move{transform:translateY(0);opacity: 1;}
    .scene.back05 .viewTxtWrap{
        left: 50%;top:50%;position: absolute;
        transform:translateY(100px);transition:0.3s;opacity:0
    }
    .scene.back05 .viewTxtWrap.txtMove{transform:translateY(0);opacity:1;transition-delay: 0.3s;}
   
    .scene.back05 .product1{
        left: 50%;top: 50%;margin-top: -400px;margin-left: -550px;
        transform-origin: 100%;opacity: 0;transition: 0.3s;transform:translateX(-130px)}
    .scene.back05 .product1.p1view{transform:translateX(0);opacity: 1;transition-delay:0.6s;} 


    /* #4 back06 */
    .scene.back06 .text-view01{
        position: absolute;
        left:50%;top: 35%;transform:translateY(-80px);font-size: 62px;transition: 0.3s;opacity: 0;}
    .scene.back06 .text-view01.view01Move{transform:translateY(0);opacity: 1;}
    .scene.back06 .viewTxtWrap{
        left: 50%;top:50%;position: absolute;
        transform:translateY(100px);transition:0.3s;opacity:0
    }
    .scene.back06 .viewTxtWrap.txtMove{transform:translateY(0);opacity:1;transition-delay: 0.3s;}
   
    .scene.back06 .product1{
        left: 50%;top: 50%;margin-top: -400px;margin-left: -550px;
        transform-origin: 100%;opacity: 0;transition: 0.3s;transform:translateX(-130px)}
    .scene.back06 .product1.p1view{transform:translateX(0);opacity: 1;transition-delay:0.6s;} 








    .fp-viewing-m4st .scene.back03{display: none;}
    .fp-viewing-m5st .scene.back03{display: none;}
    .fp-viewing-m6st .scene.back03{display: none;}
    .fp-viewing-m7st .scene.back03{display: none;}

    .fp-viewing-m4st .scene.back04{display: block;}
    .fp-viewing-m5st .scene.back04{display: block;} 
    
    .scene.back04{display: none;position: relative;top:-100vh}

    .fp-viewing-m5st .scene.back05{opacity: 1;}
    .fp-viewing-m6st .scene.back05{opacity: 1;} 
    .scene.back05{opacity: 0;;position: relative;top:-200vh;}
    
    .fp-viewing-m6st .scene.back06{opacity: 1;}
    .fp-viewing-m7st .scene.back06{opacity: 1;} 
    .scene.back06{opacity: 0;;position: relative;top:-200vh;}